.btn-success {
    margin:0 auto;
    display:block;
    margin-top: 5px;
    background-color:  #ACD0B6 !important;
    border-style: solid;
    border-color: #40676E !important;
    color: #40676E !important;
}
.btn-success:hover {
    margin:0 auto;
    display:block;
    margin-top: 5px;
    background-color: #FFFFFF !important;
    border-style: solid;
    border-color: #40676E !important;
    color: #40676E;
}

.btn-delete {
    margin:0 auto;
    display:block;
    margin-top: 5px;
}